In [2]:
import yfinance
import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [22]:
def fetch_sectors_names():
    url = "https://stockanalysis.com/stocks/industry/sectors/"
    response = requests.get(url)
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, "html.parser")
        df=pd.read_html(str(soup.find_all("table")))[0]
    else:
        print(f"Error: Failed to fetch data from page {url}")
        
    return df

def fetch_industry_names():
    url = "https://stockanalysis.com/stocks/industry/all/"
    response = requests.get(url)
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, "html.parser")
        df=pd.read_html(str(soup.find_all("table")))[0]
    else:
        print(f"Error: Failed to fetch data from page {url}")
        
    return df

def fetch_data(sectors):
    url = f"https://stockanalysis.com/stocks/sector/{sectors}/"
    response = requests.get(url)
    if response.status_code == 200:
        soup = BeautifulSoup(response.content, "html.parser")
        df=pd.read_html(str(soup.find_all("table")))[0]
        df.drop(columns='No.', inplace=True)
    else:
        print(f"Error: Failed to fetch data from page {url}")
        
    return df

In [23]:
sectors=fetch_sectors_names()
indusrty=fetch_industry_names()

C:\Users\Merve\AppData\Local\Temp\ipykernel_2088\1494564969.py:6: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_html(str(soup.find_all("table")))[0]
C:\Users\Merve\AppData\Local\Temp\ipykernel_2088\1494564969.py:17: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_html(str(soup.find_all("table")))[0]

In [24]:
sectors

,Sector Name,Stocks,Market Cap,Div. Yield,PE Ratio,Profit Margin,1D Change,1Y Change
0,Financials,1385,"9,693.53B",2.41%,14.72,17.75%,0.54%,11.63%
1,Healthcare,1216,"8,179.50B",0.43%,50.92,4.08%,1.32%,7.51%
2,Technology,787,17.76T,0.43%,44.98,13.16%,0.28%,15.00%
3,Industrials,651,"5,483.35B",1.11%,26.72,7.33%,0.55%,17.68%
4,Consumer Discretionary,577,"7,275.60B",0.65%,27.38,5.95%,0.31%,2.23%
5,Materials,263,"2,071.37B",1.56%,19.63,8.68%,0.45%,2.24%
6,Real Estate,262,"1,506.62B",4.11%,50.59,8.91%,-0.13%,6.94%
7,Communication Services,260,"5,360.41B",1.09%,28.01,10.40%,0.29%,2.10%
8,Energy,253,"3,647.96B",2.85%,8.02,12.42%,0.43%,18.22%
9,Consumer Staples,241,"4,037.34B",1.45%,29.75,4.72%,0.45%,12.18%
10,Utilities,108,"1,291.31B",3.60%,24.54,7.86%,-0.03%,-5.44%
11,Miscellaneous,3,2.12B,9.41%,-,-,-0.64%,5.18%

In [45]:
fetch_data(sectors='energy').to_csv('data/stock_sectors/energy.csv')
fetch_data(sectors='financials').to_csv('data/stock_sectors/financials.csv')
fetch_data(sectors='healthcare').to_csv('data/stock_sectors/healthcare.csv')
fetch_data(sectors='technology').to_csv('data/stock_sectors/technology.csv')
fetch_data(sectors='utilities').to_csv('data/stock_sectors/utilities.csv')
fetch_data(sectors='real-estate').to_csv('data/stock_sectors/real-estate.csv')
fetch_data(sectors='materials').to_csv('data/stock_sectors/materials.csv')
fetch_data(sectors='technology').to_csv('data/stock_sectors/technology.csv')
fetch_data(sectors='industrials').to_csv('data/stock_sectors/industrials.csv')
fetch_data(sectors='consumer-staples').to_csv('data/stock_sectors/consumer-staples.csv')
fetch_data(sectors='consumer-discretionary').to_csv('data/stock_sectors/consumer-discretionary.csv')
fetch_data(sectors='communication-services').to_csv('data/stock_sectors/communication-services.csv')

C:\Users\Merve\AppData\Local\Temp\ipykernel_2088\1494564969.py:28: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_html(str(soup.find_all("table")))[0]
C:\Users\Merve\AppData\Local\Temp\ipykernel_2088\1494564969.py:28: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_html(str(soup.find_all("table")))[0]
C:\Users\Merve\AppData\Local\Temp\ipykernel_2088\1494564969.py:28: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_html(str(soup.find_all("table")))[0]
C:\Users\Merve\AppData\Local\Temp\ipykernel_2088\1494564969.py:28: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_html(str(soup.find_all("table")))[0]
C:\Users\Merve\AppData\Local\Temp\ipykernel_2088\1494564969.py:28: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_html(str(soup.find_all("table")))[0]
C:\Users\Merve\AppData\Local\Temp\ipykernel_2088\1494564969.py:28: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_html(str(soup.find_all("table")))[0]
C:\Users\Merve\AppData\Local\Temp\ipykernel_2088\1494564969.py:28: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_html(str(soup.find_all("table")))[0]
C:\Users\Merve\AppData\Local\Temp\ipykernel_2088\1494564969.py:28: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_html(str(soup.find_all("table")))[0]
C:\Users\Merve\AppData\Local\Temp\ipykernel_2088\1494564969.py:28: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_html(str(soup.find_all("table")))[0]
C:\Users\Merve\AppData\Local\Temp\ipykernel_2088\1494564969.py:28: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_html(str(soup.find_all("table")))[0]
C:\Users\Merve\AppData\Local\Temp\ipykernel_2088\1494564969.py:28: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_html(str(soup.find_all("table")))[0]
C:\Users\Merve\AppData\Local\Temp\ipykernel_2088\1494564969.py:28: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df=pd.read_html(str(soup.find_all("table")))[0]

In [29]:
finance = pd.read_csv('data/stock_sectors/financials.csv')
finance.Symbol

0      BRK.B
1          V
2        JPM
3         MA
4        BAC
       ...
993     NCPL
994     TIRX
995     RELI
996      DXF
997    AIMAU
Name: Symbol, Length: 998, dtype: object

In [30]:
healthcare = pd.read_csv('data/stock_sectors/healthcare.csv')
healthcare.Symbol

0        LLY
1        NVO
2        UNH
3        JNJ
4       ABBV
        ...
1212    MOTS
1213    REVB
1214     NBY
1215     GRI
1216    RNAZ
Name: Symbol, Length: 1217, dtype: object

In [47]:
technology = pd.read_csv('data/stock_sectors/technology.csv')
technology.Symbol

0      MSFT
1      AAPL
2      NVDA
3       TSM
4      AVGO
       ...
781    SYTA
782    XTKG
783    WISA
784    ASTI
785    BCAN
Name: Symbol, Length: 786, dtype: object

In [32]:
import yfinance as yf
import pandas as pd

# Finans sektöründeki tüm hisselerin sembollerini oku
finance = pd.read_csv('data/stock_sectors/financials.csv')
ticker_list = finance['Symbol'].tolist()

ticker_data = yf.download(ticker_list, start='2005-01-01')
# Aylık kapanış fiyatlarını al ve yüzde değişimini hesapla
ticker_monthly_close = ticker_data['Open'].resample('M').last().pct_change()+1

[*********************100%%**********************]  998 of 998 completed

8 Failed downloads:
['CRD.B', 'DISA', 'DYCQ', 'AGM.A', 'BRK.B', 'LEGT', 'BNRE.A', 'CRD.A']: Exception('%ticker%: No timezone found, symbol may be delisted')
C:\Users\Merve\AppData\Local\Temp\ipykernel_2088\2847696493.py:10: FutureWarning: The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  ticker_monthly_close = ticker_data['Open'].resample('M').last().pct_change()+1

In [33]:
ticker_monthly_close

Ticker,AACI,AACT,AAMC,AAME,AB,ABCB,ABL,ABTS,AC,ACAB,...,WU,WULF,XFIN,XP,XYF,YOTA,YRD,ZEO,ZION,ZLS
Date,,,,,,,,,,,,,,,,,,,,,
2005-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-02-28,NaN,NaN,NaN,1.006645,1.069536,1.078607,NaN,NaN,NaN,NaN,...,NaN,0.891429,NaN,NaN,NaN,NaN,NaN,NaN,0.998796,NaN
2005-03-31,NaN,NaN,NaN,1.000000,0.981152,0.951476,NaN,NaN,NaN,NaN,...,NaN,0.921474,NaN,NaN,NaN,NaN,NaN,NaN,1.034504,NaN
2005-04-30,NaN,NaN,NaN,0.990099,0.971293,1.018034,NaN,NaN,NaN,NaN,...,NaN,0.784348,NaN,NaN,NaN,NaN,NaN,NaN,1.019516,NaN
2005-05-31,NaN,NaN,NaN,1.000000,1.005778,1.018286,NaN,NaN,NaN,NaN,...,NaN,1.019956,NaN,NaN,NaN,NaN,NaN,NaN,1.018286,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-11-30,1.006579,1.007775,0.874677,1.201183,0.996522,1.155592,1.142016,1.104651,0.990828,1.000000,...,1.065514,1.088496,1.001881,1.171079,1.051852,1.001880,1.285088,1.005348,1.181183,1.004726
2023-12-31,1.005602,1.007715,1.394984,1.088670,1.086562,1.248714,1.454155,1.263158,1.060018,0.998113,...,1.018787,2.479675,1.005634,1.147826,0.856807,0.970919,1.037543,0.998227,1.256685,1.005644
2024-01-31,1.011142,1.004785,1.128090,1.194570,1.087054,0.952639,1.241379,0.875000,0.953803,1.022684,...,1.074602,0.590164,1.007470,0.962121,1.073973,1.024155,1.559210,1.012433,0.944905,1.005613
2024-02-29,1.009183,1.003810,0.844621,1.045455,0.981087,0.907054,0.931746,0.990476,0.977555,0.987985,...,1.033541,1.216667,1.005653,0.944094,1.020408,1.037736,1.097046,1.009649,0.928656,1.000000
2024-03-31,1.005460,1.001898,0.816038,0.967391,1.010542,0.978336,1.005963,0.788462,1.011178,1.003742,...,0.997736,0.757991,1.001751,1.047123,1.062500,1.000000,1.026923,0.735882,1.010720,1.004651

In [23]:
# Finans sektöründeki tüm hisselerin sembollerini oku
healthcare = pd.read_csv('data/stock_sectors/healthcare.csv')
ticker_list = healthcare['Symbol'].tolist()

ticker_data_health = yf.download(ticker_list, start='2005-01-01')
# Aylık kapanış fiyatlarını al ve yüzde değişimini hesapla
ticker_monthly_close_health = ticker_data_health['Open'].resample('M').last().pct_change()+1
ticker_monthly_close_health

[*********************100%%**********************]  1217 of 1217 completed

1 Failed download:
['BIO.B']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2005-01-01 -> 2024-03-16)')
C:\Users\Merve\AppData\Local\Temp\ipykernel_16464\3004030131.py:7: FutureWarning: The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  ticker_monthly_close_health = ticker_data_health['Open'].resample('M').last().pct_change()+1

Ticker,A,AADI,ABBV,ABCL,ABEO,ABIO,ABOS,ABSI,ABT,ABUS,...,ZLAB,ZNTL,ZOM,ZTEK,ZTS,ZURA,ZVRA,ZVSA,ZYME,ZYXI
Date,,,,,,,,,,,,,,,,,,,,,
2005-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-02-28,1.073382,NaN,NaN,NaN,0.971223,0.959158,NaN,NaN,1.022090,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000
2005-03-31,0.946072,NaN,NaN,NaN,0.888889,0.841290,NaN,NaN,1.010374,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.793105
2005-04-30,0.933573,NaN,NaN,NaN,1.083333,0.944785,NaN,NaN,1.034011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.217389
2005-05-31,1.141827,NaN,NaN,NaN,0.884615,1.240260,NaN,NaN,0.996069,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.071429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-11-30,1.242718,1.324257,0.971286,1.193548,1.307895,1.061798,1.050926,1.371901,1.104899,1.084746,...,1.109921,0.685785,1.118421,0.900763,1.111295,0.955194,1.132558,0.990099,1.293353,1.027778
2023-12-31,1.086484,0.392523,1.119774,1.237006,1.044266,0.904762,1.687225,2.879518,1.064096,1.322917,...,0.982839,1.420000,1.217647,0.872881,1.123629,1.029851,1.217659,0.282000,1.196648,1.176216
2024-01-31,0.967930,0.847619,1.072538,0.882353,0.857418,0.947368,0.856397,0.822176,1.032609,0.968504,...,0.795562,0.774008,0.652174,1.330097,0.976866,0.658385,1.000000,0.597771,1.006536,1.075368
2024-02-29,1.021544,1.179775,1.073122,0.982857,1.564045,1.018519,1.295732,1.229008,1.055439,1.166667,...,0.987654,1.322581,0.985185,0.875912,1.043564,1.207547,1.172007,1.728814,1.139147,1.154701
2024-03-31,1.047124,0.966667,1.011076,0.908915,1.165230,1.048485,0.950588,0.989648,0.939328,0.902439,...,0.873148,0.880550,0.962406,1.091667,0.866733,0.812500,0.877698,0.771569,0.873778,0.900074

In [41]:
technology = pd.read_csv('data/stock_sectors/technology.csv')

In [48]:
technology.iloc[540]

Unnamed: 0                540
Symbol                    NaN
Company Name    Nano Labs Ltd
Market Cap            139.27M
% Change                0.77%
Volume                  14978
Revenue               655.30M
Name: 540, dtype: object

In [70]:
import yfinance as yf
import pandas as pd
# Finans sektöründeki tüm hisselerin sembollerini oku
technology = pd.read_csv('data/stock_sectors/technology.csv')
ticker_list = technology['Symbol'].astype(str).tolist()


ticker_data_technology = yf.download(ticker_list, start='2005-01-01')
# Aylık kapanış fiyatlarını al ve yüzde değişimini hesapla
ticker_monthly_close_technology = ticker_data_technology['Open'].resample('M').last().pct_change()
ticker_monthly_close_technology

[*********************100%%**********************]  786 of 786 completed

Ticker,AAOI,AAPL,ACIW,ACLS,ACMR,ACN,ADBE,ADEA,ADI,ADSK,...,YOU,ZBRA,ZENV,ZEPP,ZETA,ZFOX,ZI,ZM,ZS,ZUO
Date,,,,,,,,,,,,,,,,,,,,,
2005-01-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-02-28,NaN,0.198176,0.106241,0.190476,NaN,-0.029183,0.095018,0.084777,0.070086,0.024290,...,NaN,-0.007514,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-03-31,NaN,-0.049911,-0.000861,-0.163429,NaN,-0.015631,0.102535,0.052504,-0.032748,-0.005678,...,NaN,-0.065949,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-04-30,NaN,-0.148410,-0.106896,-0.124317,NaN,-0.114414,-0.129698,-0.399770,-0.067713,0.059120,...,NaN,0.005333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-05-31,NaN,0.124758,0.099903,0.021841,NaN,0.052414,0.117019,0.150900,0.087098,0.199175,...,NaN,-0.087630,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-11-30,1.005610,0.120992,0.356749,-0.007115,0.274658,0.140303,0.168400,0.144391,0.170479,0.085380,...,0.297297,0.111360,-0.169355,0.291262,0.098684,0.023392,-0.040268,0.135669,0.274732,0.310867
2023-12-31,0.521678,0.021386,0.130917,0.053901,0.187500,0.052633,-0.038564,0.308655,0.091113,0.132423,...,-0.028241,0.155687,0.155340,0.142857,0.061078,0.285714,0.306993,0.067115,0.116633,0.009444
2024-01-31,-0.245404,-0.035379,0.002289,-0.013900,-0.109774,0.054606,0.040111,-0.006374,-0.031821,0.046365,...,-0.064316,-0.090016,-0.042017,-0.177632,0.113996,-0.011111,-0.134296,-0.092217,0.062358,-0.040541
2024-02-29,-0.083435,-0.030849,0.029038,-0.136827,0.785473,0.025337,-0.105016,-0.080192,-0.017467,0.005215,...,-0.045316,0.104200,0.622807,-0.064000,0.087133,0.247191,0.043263,0.056604,0.010504,-0.139762
2024-03-31,-0.144186,-0.055718,-0.010780,-0.054229,-0.145380,-0.030520,-0.099569,-0.061901,-0.007258,0.001209,...,0.014933,0.005253,0.081081,-0.017094,-0.041938,0.000000,-0.063981,-0.046571,-0.173430,0.094458

In [78]:
import yfinance as yf
import pandas as pd

# Finans sektöründeki tüm hisselerin sembollerini oku
technology = pd.read_csv('data/stock_sectors/technology.csv')
ticker_list = technology['Symbol'].astype(str).tolist()

# Ticker verilerini indir
ticker_data_technology = yf.download(ticker_list, start='2005-01-01')

# Aylık kapanış fiyatlarını al ve yüzde değişimini hesapla
ticker_monthly_close_technology = ticker_data_technology['Open'].resample('M').last().pct_change()

# Ticker isimlerini satırlara dönüştürme
ticker_monthly_close_technology = ticker_monthly_close_technology.T

# Sütun adlarını güncelleme
ticker_monthly_close_technology.columns.name = 'Date'

# Tarihleri indeks yapma
ticker_monthly_close_technology.index.name = 'Ticker'


ticker_monthly_close_technology

[*********************100%%**********************]  786 of 786 completed

Date,2005-01-31,2005-02-28,2005-03-31,2005-04-30,2005-05-31,2005-06-30,2005-07-31,2005-08-31,2005-09-30,2005-10-31,...,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31
Ticker,,,,,,,,,,,,,,,,,,,,,
AAOI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.452586,0.182777,1.263001,-0.259357,-0.367908,1.005610,0.521678,-0.245404,-0.083435,-0.144186
AAPL,NaN,0.198176,-0.049911,-0.148410,0.124758,-0.099607,0.189839,0.075757,0.116731,0.054844,...,0.080641,0.023117,-0.041926,-0.084221,-0.015521,0.120992,0.021386,-0.035379,-0.030849,-0.055718
ACIW,NaN,0.106241,-0.000861,-0.106896,0.099903,0.055287,0.126403,-0.040236,0.068846,-0.078086,...,0.040125,-0.018003,0.072021,-0.079397,-0.118532,0.356749,0.130917,0.002289,0.029038,-0.010780
ACLS,NaN,0.190476,-0.163429,-0.124317,0.021841,0.085496,-0.030942,-0.166909,-0.108014,-0.179688,...,0.151243,0.074582,-0.034960,-0.123329,-0.231283,-0.007115,0.053901,-0.013900,-0.136827,-0.054229
ACMR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.395980,-0.091433,0.370840,0.072254,-0.289488,0.274658,0.187500,-0.109774,0.785473,-0.145380
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZFOX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.051020,0.155340,-0.100840,-0.121495,-0.272340,0.023392,0.285714,-0.011111,0.247191,0.000000
ZI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.064242,-0.013288,-0.310504,-0.074777,-0.101327,-0.040268,0.306993,-0.134296,0.043263,-0.063981
ZM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.048501,0.069313,-0.056223,-0.000434,-0.128888,0.135669,0.067115,-0.092217,0.056604,-0.046571
ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.095192,0.080363,-0.057827,0.032130,0.022876,0.274732,0.116633,0.062358,0.010504,-0.173430
ZUO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.066667,0.003676,-0.167582,-0.080308,-0.130383,0.310867,0.009444,-0.040541,-0.139762,0.094458

In [79]:
ticker_monthly_close_technology

Date,2005-01-31,2005-02-28,2005-03-31,2005-04-30,2005-05-31,2005-06-30,2005-07-31,2005-08-31,2005-09-30,2005-10-31,...,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31
Ticker,,,,,,,,,,,,,,,,,,,,,
AAOI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.452586,0.182777,1.263001,-0.259357,-0.367908,1.005610,0.521678,-0.245404,-0.083435,-0.144186
AAPL,NaN,0.198176,-0.049911,-0.148410,0.124758,-0.099607,0.189839,0.075757,0.116731,0.054844,...,0.080641,0.023117,-0.041926,-0.084221,-0.015521,0.120992,0.021386,-0.035379,-0.030849,-0.055718
ACIW,NaN,0.106241,-0.000861,-0.106896,0.099903,0.055287,0.126403,-0.040236,0.068846,-0.078086,...,0.040125,-0.018003,0.072021,-0.079397,-0.118532,0.356749,0.130917,0.002289,0.029038,-0.010780
ACLS,NaN,0.190476,-0.163429,-0.124317,0.021841,0.085496,-0.030942,-0.166909,-0.108014,-0.179688,...,0.151243,0.074582,-0.034960,-0.123329,-0.231283,-0.007115,0.053901,-0.013900,-0.136827,-0.054229
ACMR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.395980,-0.091433,0.370840,0.072254,-0.289488,0.274658,0.187500,-0.109774,0.785473,-0.145380
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZFOX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.051020,0.155340,-0.100840,-0.121495,-0.272340,0.023392,0.285714,-0.011111,0.247191,0.000000
ZI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.064242,-0.013288,-0.310504,-0.074777,-0.101327,-0.040268,0.306993,-0.134296,0.043263,-0.063981
ZM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.048501,0.069313,-0.056223,-0.000434,-0.128888,0.135669,0.067115,-0.092217,0.056604,-0.046571
ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.095192,0.080363,-0.057827,0.032130,0.022876,0.274732,0.116633,0.062358,0.010504,-0.173430
ZUO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.066667,0.003676,-0.167582,-0.080308,-0.130383,0.310867,0.009444,-0.040541,-0.139762,0.094458

Date,Ticker,2005-01-31 00:00:00,2005-02-28 00:00:00,2005-03-31 00:00:00,2005-04-30 00:00:00,2005-05-31 00:00:00,2005-06-30 00:00:00,2005-07-31 00:00:00,2005-08-31 00:00:00,2005-09-30 00:00:00,...,2023-06-30 00:00:00,2023-07-31 00:00:00,2023-08-31 00:00:00,2023-09-30 00:00:00,2023-10-31 00:00:00,2023-11-30 00:00:00,2023-12-31 00:00:00,2024-01-31 00:00:00,2024-02-29 00:00:00,2024-03-31 00:00:00
0,AAOI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.452586,0.182777,1.263001,-0.259357,-0.367908,1.005610,0.521678,-0.245404,-0.083435,-0.144186
1,AAPL,NaN,0.198176,-0.049911,-0.148410,0.124758,-0.099607,0.189839,0.075757,0.116731,...,0.080641,0.023117,-0.041926,-0.084221,-0.015521,0.120992,0.021386,-0.035379,-0.030849,-0.055718
2,ACIW,NaN,0.106241,-0.000861,-0.106896,0.099903,0.055287,0.126403,-0.040236,0.068846,...,0.040125,-0.018003,0.072021,-0.079397,-0.118532,0.356749,0.130917,0.002289,0.029038,-0.010780
3,ACLS,NaN,0.190476,-0.163429,-0.124317,0.021841,0.085496,-0.030942,-0.166909,-0.108014,...,0.151243,0.074582,-0.034960,-0.123329,-0.231283,-0.007115,0.053901,-0.013900,-0.136827,-0.054229
4,ACMR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.395980,-0.091433,0.370840,0.072254,-0.289488,0.274658,0.187500,-0.109774,0.785473,-0.145380
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
781,ZFOX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.051020,0.155340,-0.100840,-0.121495,-0.272340,0.023392,0.285714,-0.011111,0.247191,0.000000
782,ZI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.064242,-0.013288,-0.310504,-0.074777,-0.101327,-0.040268,0.306993,-0.134296,0.043263,-0.063981
783,ZM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.048501,0.069313,-0.056223,-0.000434,-0.128888,0.135669,0.067115,-0.092217,0.056604,-0.046571
784,ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.095192,0.080363,-0.057827,0.032130,0.022876,0.274732,0.116633,0.062358,0.010504,-0.173430
785,ZUO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.066667,0.003676,-0.167582,-0.080308,-0.130383,0.310867,0.009444,-0.040541,-0.139762,0.094458

In [83]:
import yfinance as yf
import pandas as pd

# Finans sektöründeki tüm hisselerin sembollerini oku
technology = pd.read_csv('data/stock_sectors/technology.csv')
ticker_list = technology['Symbol'].astype(str).tolist()

# Ticker verilerini indir
ticker_data_technology = yf.download(ticker_list, start='2005-01-01')

# Aylık kapanış fiyatlarını al ve yüzde değişimini hesapla
ticker_monthly_close_technology = ticker_data_technology['Open'].resample('M').last()

# Tarihleri sütun haline getir
ticker_monthly_close_technology = ticker_monthly_close_technology.reset_index()

# Ticker adlarını satırlara dönüştürme
ticker_monthly_close_technology = ticker_monthly_close_technology.melt(id_vars=['Date'], var_name='Ticker', value_name='Close')

print(ticker_monthly_close_technology)

[*********************100%%**********************]  786 of 786 completed

             Date Ticker  Close
0      2005-01-31   AAOI    NaN
1      2005-02-28   AAOI    NaN
2      2005-03-31   AAOI    NaN
3      2005-04-30   AAOI    NaN
4      2005-05-31   AAOI    NaN
...           ...    ...    ...
181561 2023-11-30    ZUO   9.53
181562 2023-12-31    ZUO   9.62
181563 2024-01-31    ZUO   9.23
181564 2024-02-29    ZUO   7.94
181565 2024-03-31    ZUO   8.69

[181566 rows x 3 columns]

In [84]:
ticker_monthly_close_technology

             Date Ticker  Close
0      2005-01-31   AAOI    NaN
1      2005-02-28   AAOI    NaN
2      2005-03-31   AAOI    NaN
3      2005-04-30   AAOI    NaN
4      2005-05-31   AAOI    NaN
...           ...    ...    ...
181561 2023-11-30    ZUO   9.53
181562 2023-12-31    ZUO   9.62
181563 2024-01-31    ZUO   9.23
181564 2024-02-29    ZUO   7.94
181565 2024-03-31    ZUO   8.69

[181566 rows x 3 columns]